<!DOCTYPE HTML>
<!--
  Hielo by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
  <head>
    <title>TecHorta</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css" />

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
  </head>
  <body class="subpage">

    <!-- Header -->
      <header id="header">
        <div class="logo"><a href="/">HecHorta <span>web app</span></a></div>
        <a href="#menu">Menu</a>
      </header>

    <!-- Nav -->
      <nav id="menu">
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="generic">Generic</a></li>
          <li><a href="elements">Elements</a></li>
        </ul>
      </nav>

    <!-- One -->
      <section id="One" class="wrapper style3">
        <div class="inner">
          <header class="align-center">
            <p>Dados em tempo real da sua Horta!</p>
            <h2>Monitoramento de dados</h2>
          </header>
        </div>
      </section>

      <!-- Gráfico -->
      <section id="two" class="wrapper style2">
        <div class="inner">
          <div class="box">
            <div class="content">

              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <div id="realtime" style="height: 400px;"></div>

                  <script>
                    var graph = new Morris.Line({
                      // ID of the element in which to draw the chart.
                      element: 'realtime',
                      // Chart data records -- each entry in this array corresponds to a point on the chart.
                      data: [],
                      // The name of the data record attribute that contains x-values.
                      xkey: 'time',
                      // A list of names of data record attributes that contain y-values.
                      ykeys: ['v1', 'v2', 'v3'],
                      // Labels for the ykeys -- will be displayed when you hover over the
                      // chart.
                      labels: ['Sensor1', 'Sensor2', 'Sensor3']
                    });

                    fetch_data = function() {
                      $.get("/data", {},
                        function(data) {
                          graph.setData(data);
                        }
                      ); 
                    }

                    fetch_data();
                    setInterval(function() { 
                      fetch_data();
                    }, 5000);                    
                  </script>
                </div>
                <div class="col-sm-12 col-md-3">
                  <br/>
                  <header class="align-center">
                    <p>Escolha um cultivo</p>
                    <br/>
                  </header>

                  <form>
                    <div class="4u 12u$(small)">
                      <input type="radio" id="priority-low" name="priority" checked="">
                      <label for="priority-low">Jardim</label>
                    </div>

                    <div class="4u 12u$(small)">
                      <input type="radio" id="priority-normal" name="priority" checked="">
                      <label for="priority-normal">Vaso</label>
                    </div>

                    <select name="planta" id="planta">
                      <option value>- Planta -</option>
                      <option value="alface">Alface</option>
                      <option value="repolho">Repolho</option>
                      <option value="tomate">Tomate</option>
                    </select>
                  </form>

                  <hr/>

                  <div class="info">
                    <h4>Informações da planta</h4>
                    <p>----</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    <!-- Two -->
      <section id="two" class="wrapper style2">
        <div class="inner">
          <div class="box">
            <div class="content">
              <header class="align-center">
                <p>maecenas sapien feugiat ex purus</p>
                <h2>Lorem ipsum dolor</h2>
              </header>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at dignissim augue, in iaculis neque. Etiam bibendum felis ac vulputate pellentesque. Cras non blandit quam. Nunc porta, est non posuere sagittis, neque nunc pellentesque diam, a iaculis lacus urna vitae purus. In non dui vel est tempor faucibus. Aliquam erat volutpat. Quisque vel est vitae nibh laoreet auctor. In nec libero dui. Nulla ullamcorper, dolor nec accumsan viverra, libero eros rutrum metus, vel lacinia magna odio non nunc. Praesent semper felis eu rhoncus aliquam. Donec at quam ac libero vestibulum pretium. Nunc faucibus vel arcu in malesuada. Aenean at velit odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas commodo erat eget molestie sollicitudin. Donec imperdiet, ex sed blandit dictum, ipsum metus ultrices arcu, vitae euismod nisl sapien vitae tortor.</p>

              <p>Vivamus nec odio ac ligula congue feugiat at vitae leo. Aenean sem justo, finibus sed dui eu, accumsan facilisis dolor. Fusce quis dui eget odio iaculis aliquam vel sed velit. Nulla pellentesque posuere semper. Nulla eu sagittis lorem, a auctor nulla. Sed ac condimentum orci, ac varius ante. Nunc blandit quam sit amet sollicitudin sodales.</p>

              <p>Vivamus ultricies mollis mauris quis molestie. Quisque eu mi velit. In et cursus nibh. Donec facilisis, orci sed mollis hendrerit, nunc risus mattis odio, eget efficitur nisl orci a lectus. Aenean finibus neque convallis orci sollicitudin tincidunt. Vivamus lacinia facilisis diam, quis facilisis nisi luctus nec. Aliquam ac molestie enim, ut ultrices elit. Fusce laoreet vulputate risus in tincidunt. Sed commodo mollis maximus. Nullam varius laoreet nibh sit amet facilisis. Donec ac odio vehicula, consequat elit et, sodales justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam ac auctor mauris, in hendrerit libero. </p>
            </div>
          </div>
        </div>
      </section>

    <!-- Footer -->
      <footer id="footer">
        <div class="container">
          <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
          </ul>
        </div>
        <div class="copyright">
          &copy; templatedco. All rights reserved.
        </div>
      </footer>

    <!-- Scripts -->
      <script src="js/jquery.min.js"></script>
      <script src="js/jquery.scrollex.min.js"></script>
      <script src="js/skel.min.js"></script>
      <script src="js/util.js"></script>
      <script src="js/main.js"></script>

  </body>
</html>
