<!DOCTYPE HTML>
<!--
  Hielo by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
  <head>
    <title>TecHorta</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>

    <!-- Header -->
      <header id="header" class="alt">
        <div class="logo"><a href="/">HecHorta <span>web app</span></a></div>
        <a href="#menu">Menu</a>
      </header>

    <!-- Nav -->
      <nav id="menu">
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="generic">Generic</a></li>
          <li><a href="elements">Elements</a></li>
        </ul>
      </nav>

    <!-- Banner -->
      <section class="banner full">
        <article>
          <img src="images/slide01.jpg" alt="" />
          <div class="inner">
            <header>
              <p>Um produto futurístico pelos alunos do <a href="https://ita.br">ITA</a></p>
              <h2>TecHorta</h2>
            </header>
          </div>
        </article>
        <article>
          <img src="images/slide02.jpg" alt="" />
          <div class="inner">
            <header>
              <p>Preparado com carinho pelo grupo 4</p>
              <h2>Curso HID-65</h2>
            </header>
          </div>
        </article>
        <article>
          <img src="images/slide03.jpg"  alt="" />
          <div class="inner">
            <header>
              <p>Acesse o painel de monitoramento</p>
              <h2>Minha <a href="/data">Horta</a></h2>
            </header>
          </div>
        </article>
<!--         <article>
          <img src="images/slide04.jpg"  alt="" />
          <div class="inner">
            <header>
              <p>Adipiscing lorem ipsum feugiat sed phasellus consequat</p>
              <h2>Etiam feugiat</h2>
            </header>
          </div>
        </article>
        <article>
          <img src="images/slide05.jpg"  alt="" />
          <div class="inner">
            <header>
              <p>Ipsum dolor sed magna veroeros lorem ipsum</p>
              <h2>Lorem adipiscing</h2>
            </header>
          </div>
        </article> -->
      </section>

    <!-- One -->
      <section id="one" class="wrapper style2">
        <div class="inner">
          <div class="grid-style">

            <div>
              <div class="box">
                <div class="image fit">
                  <img src="images/pic02.jpg" alt="" />
                </div>
                <div class="content">
                  <header class="align-center">
                    <p>Ter uma horta nunca foi tão fácil!</p>
                    <h2>Nossa Missão</h2>
                  </header>
                  <p>O SmartGarden tem como missão facilitar e simplificar a tarefa de cultivo de hortas caseiras para clientes leigos no assunto.</p>
                  <footer class="align-center">
                    <a href="#" class="button alt">Veja mais</a>
                  </footer>
                </div>
              </div>
            </div>

            <div>
              <div class="box">
                <div class="image fit">
                  <img src="images/pic03.jpg" alt="" />
                </div>
                <div class="content">
                  <header class="align-center">
                    <p>Precisa de ajuda nas decisões?</p>
                    <h2>Nossos Objetivos</h2>
                  </header>
                  <p>Sistemas com confiabilidade, usabilidade simples e preço final acessível. Sistema de monitoramento com sensores agrícolas simples, dando suporte ao cliente com uma plataforma web.</p>
                  <footer class="align-center">
                    <a href="#" class="button alt">Veja mais</a>
                  </footer>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>

    <!-- Two -->
      <section id="two" class="wrapper style3">
        <div class="inner">
          <header class="align-center">
            <p>Frase preparatória para o slogan</p>
            <h2>Slogan do produto</h2>
          </header>
        </div>
      </section>

    <!-- Three -->
      <section id="three" class="wrapper style2">
        <div class="inner">
          <header class="align-center">
            <p class="special">Usuários do mundo já estão usando. Adquira já o seu.</p>
            <h2>Fotos da aplicação</h2>
          </header>
          <div class="gallery">
            <div>
              <div class="image fit">
                <a href="#"><img src="images/pic01.jpg" alt="" /></a>
              </div>
            </div>
            <div>
              <div class="image fit">
                <a href="#"><img src="images/pic02.jpg" alt="" /></a>
              </div>
            </div>
            <div>
              <div class="image fit">
                <a href="#"><img src="images/pic03.jpg" alt="" /></a>
              </div>
            </div>
            <div>
              <div class="image fit">
                <a href="#"><img src="images/pic04.jpg" alt="" /></a>
              </div>
            </div>
          </div>
        </div>
      </section>


    <!-- Footer -->
      <footer id="footer">
        <div class="container">
          <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
          </ul>
        </div>
        <div class="copyright">
          &copy; templatedco. All rights reserved.
        </div>
      </footer>

    <!-- Scripts -->
      <script src="js/jquery.min.js"></script>
      <script src="js/jquery.scrollex.min.js"></script>
      <script src="js/skel.min.js"></script>
      <script src="js/util.js"></script>
      <script src="js/main.js"></script>

  </body>
</html>
